[include]
	path=./.gitconfig.identity

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[alias]
  aa = add --all
  aliases = !git config --list | grep alias | cut -c 7-
  ap = add --patch
  ca = commit --amend
  ci = commit
  co = checkout
  co-pr = !sh -c 'git fetch origin pull/$1/head:pr/$1 && git checkout pr/$1' -
  coi = checkout-interactive
  cp = cherry-pick
  dmb = delete-merged-branches
  done = !git checkout master && git pull && git delete-merged-branches --yes
  l = log --graph --decorate --pretty=oneline --abbrev-commit --all
  pr = !hub pull-request
  root = rev-parse --show-toplevel
  st = status --branch --short
  tree = log --graph --pretty=oneline --abbrev-commit --decorate
  su = submodule update --init --recursive
  up = !git fetch origin && git rebase origin/master
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard

  # gerrit aliases
  change = codereview change
  gofmt = codereview gofmt
  mail = codereview mail
  pending = codereview pending
  rebase-work = codereview rebase-work
  submit = codereview submit
  sync = codereview sync
  prm = push origin HEAD:refs/for/master
  can = commit --amend --no-edit

[branch]
  autoSetupMerge = always

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = green     # Items that have been added to the index
  changed = yellow  # Items that have been changed, but not added to the index
  untracked = red   # Items that are untracked

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[pull]
	rebase = false
[fetch]
	prune = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	email = 9397363+hongalex@users.noreply.github.com
	name = Alex Hong
[core]
  excludesfile = ~/.gitignore_global

[http]
	cookiefile = /Users/hongalex/.gitcookies
